body {
    background-color: #DDCC99;
}

header.page-header-custom {
    background-image: url("../images/banner-v1.2-dark.jpg") !important;
    background-size: cover !important;
    overflow: hidden;
    border-bottom: solid 4px #000;
}

main.main-content-custom h1 {
    color: #650202;
}

main.main-content-custom h2 {
    color: #BB5100;
}

main a {
    color: #193D6A !important;
}

footer.site-footer-custom {
    border-top-color: #AF7C36;
}
