body {
    background-color: #DDCC99;
}

header.page-header-custom {
    background-image: url("../images/banner-v1.2-dark.jpg") !important;
    background-size: cover !important;
    overflow: hidden;
    border-bottom: solid 2px #BB5100;
}

header h1.project-name-custom {
    color: #5BD5F8;
    font-family: 'Marcellus', serif;
}

header h2.project-tagline-custom {
    color: #A57A80;
    font-family: 'Marcellus', serif;
}

main.main-content-custom h1 {
    color: #650202;
    font-family: 'Marcellus', serif;
}

main.main-content-custom h2 {
    color: #BB5100;
    font-family: 'Marcellus', serif;
}

main a {
    color: #193D6A !important;
}

footer.site-footer-custom {
    border-top-color: #AF7C36;
}
